body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e101c; /* Dark mode background */
    color: #fff; /* Light text color */
}

header, footer {
    background-color: #1f2335; /* Dark blue background */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #1f2335; /* Dark blue background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
}

#searchBox {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4a4e69; /* Darker blue border */
    border-radius: 4px 0 0 4px;
    border-right: none;
    background-color: #0e101c; /* Dark mode background */
    color: #fff; /* Light text color */
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6f42c1; /* Purple button */
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #8a63d2; /* Lighter purple on hover */
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
}

#results li {
    background-color: #2d3246; /* Darker blue-gray background */
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#results li a {
    text-decoration: none;
    color: #ca5fcc; /* Purple link */
    transition: color 0.3s;
}

#results li a:hover {
    color: #ff79c6; /* Lighter purple on hover */
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pageInfo {
    color: #ca5fcc; /* Purple text color */
    font-weight: bold;
    margin-right: 10px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ca5fcc; /* Light purple border */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#fileContent {
    background-color: #2d3246; /* Darker blue-gray background */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-wrap: break-word;
}

footer {
    background-color: #1f2335; /* Dark blue background */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
